CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7620=y
CONFIG_TARGET_ramips_mt7620_DEVICE_youku_yk-l1c=y
CONFIG_ATH_USER_REGD=y
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_NGHTTP2=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y
CONFIG_LIBCURL_UNIX_SOCKETS=y
CONFIG_PACKAGE_ATH_DFS=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_etherwake=m
CONFIG_PACKAGE_kmod-ath=m
CONFIG_PACKAGE_kmod-crypto-des=m
CONFIG_PACKAGE_kmod-crypto-md4=m
CONFIG_PACKAGE_kmod-crypto-md5=m
CONFIG_PACKAGE_kmod-crypto-sha512=m
CONFIG_PACKAGE_kmod-eeprom-93cx6=y
CONFIG_PACKAGE_kmod-fs-cifs=m
CONFIG_PACKAGE_kmod-ipt-offload=m
CONFIG_PACKAGE_kmod-nf-conntrack-netlink=m
CONFIG_PACKAGE_kmod-nf-flow=m
CONFIG_PACKAGE_kmod-nls-utf8=m
CONFIG_PACKAGE_kmod-rt2800-pci=y
CONFIG_PACKAGE_kmod-rt2800-usb=y
CONFIG_PACKAGE_kmod-rt2x00-pci=y
CONFIG_PACKAGE_kmod-rt2x00-usb=y
CONFIG_PACKAGE_kmod-scsi-core=y
CONFIG_PACKAGE_kmod-tcp-bbr=m
CONFIG_PACKAGE_kmod-tun=m
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-wdm=y
CONFIG_PACKAGE_libcurl=y
CONFIG_PACKAGE_libevent2=m
# CONFIG_PACKAGE_libmbedtls is not set
CONFIG_PACKAGE_libminiupnpc=m
CONFIG_PACKAGE_libnatpmp=m
CONFIG_PACKAGE_libnghttp2=y
CONFIG_PACKAGE_libstdcpp=m
CONFIG_PACKAGE_libuuid=m
CONFIG_PACKAGE_luci-app-accesscontrol=m
CONFIG_PACKAGE_luci-app-arpbind=m
CONFIG_PACKAGE_luci-app-autoreboot=m
CONFIG_PACKAGE_luci-app-cifs-mount=m
CONFIG_PACKAGE_luci-app-ddns=m
CONFIG_PACKAGE_luci-app-dnsfilter=y
CONFIG_PACKAGE_luci-app-fileassistant=m
CONFIG_PACKAGE_luci-app-nlbwmon=m
CONFIG_PACKAGE_luci-app-ramfree=m
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_NONE_V2RAY is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Client is not set
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_NONE_Client=y
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Simple_Obfs is not set
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray=y
CONFIG_PACKAGE_luci-app-transmission=m
CONFIG_PACKAGE_luci-app-turboacc=m
CONFIG_PACKAGE_luci-app-unblockmusic=m
CONFIG_PACKAGE_luci-app-upnp=m
# CONFIG_PACKAGE_luci-app-vlmcsd is not set
# CONFIG_PACKAGE_luci-app-vsftpd is not set
CONFIG_PACKAGE_luci-app-wol=m
CONFIG_PACKAGE_luci-app-zerotier=m
CONFIG_PACKAGE_luci-i18n-accesscontrol-zh-cn=m
CONFIG_PACKAGE_luci-i18n-arpbind-zh-cn=m
CONFIG_PACKAGE_luci-i18n-autoreboot-zh-cn=m
CONFIG_PACKAGE_luci-i18n-cifs-mount-zh-cn=m
CONFIG_PACKAGE_luci-i18n-ddns-zh-cn=m
CONFIG_PACKAGE_luci-i18n-dnsfilter-zh-cn=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-zh-cn=m
CONFIG_PACKAGE_luci-i18n-ramfree-zh-cn=m
CONFIG_PACKAGE_luci-i18n-transmission-zh-cn=m
CONFIG_PACKAGE_luci-i18n-turboacc-zh-cn=m
CONFIG_PACKAGE_luci-i18n-unblockmusic-zh-cn=m
CONFIG_PACKAGE_luci-i18n-upnp-zh-cn=m
CONFIG_PACKAGE_luci-i18n-wol-zh-cn=m
CONFIG_PACKAGE_luci-i18n-zerotier-zh-cn=m
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-atmaterial_new=m
CONFIG_PACKAGE_luci-theme-design=m
CONFIG_PACKAGE_luci-theme-edge=y
CONFIG_PACKAGE_luci-theme-material=m
CONFIG_PACKAGE_luci-theme-netgear=m
CONFIG_PACKAGE_luci-theme-opentopd=m
CONFIG_PACKAGE_luci-theme-rosy=m
CONFIG_PACKAGE_luci-theme-tomato=m
CONFIG_PACKAGE_miniupnpd=m
CONFIG_PACKAGE_nlbwmon=m
CONFIG_PACKAGE_pdnsd-alt=m
CONFIG_PACKAGE_rt2800-pci-firmware=y
CONFIG_PACKAGE_rt2800-usb-firmware=y
# CONFIG_PACKAGE_shadowsocks-libev-ss-local is not set
# CONFIG_PACKAGE_shadowsocks-libev-ss-redir is not set
# CONFIG_PACKAGE_simple-obfs-client is not set
CONFIG_PACKAGE_transmission-daemon-openssl=m
CONFIG_PACKAGE_transmission-web-control=m
CONFIG_PACKAGE_v2ray-core=y
# CONFIG_PACKAGE_vlmcsd is not set
# CONFIG_PACKAGE_vsftpd-alt is not set
CONFIG_PACKAGE_wol=m
CONFIG_PACKAGE_zerotier=m
